Webpack (imports/exports)
	Babel
	Scss
	Eslint
	2 Modes
		- Dev
			Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
			# Dev Server (Live Server) - перезагружает окно браузера при изменениях в коде
			# SourceMaps (Исходные карты). Браузер поддерживает только css и js. Исходные карты добавляются для scss-файлов, чтобы понимать где находимся и какие стили написали. Наш код будет модульным и затем будет соединяться в один файл, поэтому sourcemap будет указывать на те модули, в которых мы ведем разработку (указывать на ошибки)
			# Механизм Source Maps используется для отображения исходных текстов программы на сгенерированные на их основе скрипт
		- Prod
			Minified Code
Git

	Production
		2.0.0
		0 ---------------
	Development
		2.0.2
		1 -----------------

		# Работа с git Разработчик при получении задачи сделать фичу, создает копию ветки dev (основной разработки) и работает с копией. Когда фича реализована, разработчик делает pull request - запрос на совмещение ветки с фичей с dev-веткой. pull request еще не означает, что ветки будут совмещены. Этот этап нужен, Чтобы другие членым команды посмотрели какие изменения внес разработчик и как он это сделал. Они видят изменения и оставляют свои комментарии, говорят что нужно подправить. Когда первая ветка проходит pull request ветки совмещаются. Обычно после этого 1 ветка (копия, где работал разработчик) удаляется
		


